@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Raleway:wght@700&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

:root{
    --main-bg: #cecece;
    --secondary: #1b1b1b;
    --tertiary: #FFF;
    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.2) , rgb(255, 255, 255) 80%)
}

[data-theme="dark"]{
    --main-bg: #1a1a1a;
    --secondary: #FFF;
    --tertiary: #2b2b2b;
    --gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.2) , rgb(0, 0, 0) 80%);
}

body{
    background-color: var(--main-bg);
}

#menu{
    position: fixed;
    top: 1%;
    left: 1%;

    z-index: 3;
}
ul {
    box-shadow: 0 0px 25px 0 rgba(24, 24, 24, 0.2);
    text-align: center;
    font-family: lato;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--tertiary);
    border-radius: 0.25rem;
    text-align: center;
  }
  
li {
    text-align: center;
    transition-duration: 75ms;
    float: left;
    border-right: 1px solid var(--secondary);
}

li a {
transition-duration: 50ms;
display: block;
color: var(--secondary);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li:hover {
transition-duration: 200ms;
background-color: var(--main-bg);
}

li:last-child {
    border-right: none;
  }

li img{
    margin: 4px;
    float: right;
    max-height: 2.2rem;
    border-radius: 24px;
}

#main {
    width: 100%;
    height: 40vmin;
    background-image: linear-gradient(70deg, rgb(255, 152, 152), 
                                             rgb(253, 195, 156), 
                                             rgb(254, 255, 167), 
                                             rgb(151, 255, 177),
                                             rgb(185, 255, 255),
                                             rgb(193, 160, 255),
                                             rgb(255, 173, 241));
    background-size: 400% 400%;

    opacity: 1;

    animation-name: move2;
    animation-duration: 30s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite;
}

h1 {
    color: rgb(241, 241, 241);
    text-shadow: 0px 0px 20px #000000;
    position: relative;
    font-family: raleway;
    font-size: 20vmin;
    text-align: center;
    top: 10vmin;
}

#divider {
    width: 100%;
    border-top: 15px solid var(--main-bg);
    box-shadow: 0px 0px 33px 14px rgba(0,0,0,0.75);
}

#container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: row;

    margin: 16px;
    background: None;
}

.article {
    position: relative;
    margin: 16px;
    text-align: center;
    font-family: Lato;
    background-color: var(--tertiary);
    color: var(--secondary);
    box-shadow: 0 0px 25px 0 rgb(0, 0, 0);
    border-radius: 8px;

    padding: 8px;
    text-shadow: 0px 0px 2px var(--tertiary);
}

.article img{
    margin-bottom:8px;
    width: auto;
    height: 16vmax;
    border-radius: 16vh;
    z-index: 0;
}

.head {
    font-family: raleway;
    color: var(--secondary);
    position: absolute;
    font-size: 3vmax;
    top: 8px;
    z-index: 2;
}
.description {
    font-family: lato;
    margin-top: 8px;;
    font-size: 1vmax;
}

.pronouns {
    position: relative;
    font-size: 2vmin;
    z-index: 3;
    margin-bottom: 8px;
}

.overlay {
    background: var(--gradient);
    position: absolute;
    
    border-radius: 8px;

    top: 0;
    left: 0;

    width:100%;
    height:100%;
    transition-duration: 100ms;
    z-index: 1;
}

.noborder {
    border-radius: 0;
}

.btn {
    position: relative;
    z-index: 3;
    display:flex;
    justify-content: center;

}

.btn img{
    padding: 4px;
    height: 36px;
    border-radius: 0;
    transition-duration: 100ms;
}

.btn img:hover{
    transition-duration: 100ms;
    height: 40px;
}

.credit {
    position: relative;
    z-index: 10;
    font-size: 8px;
    opacity: 1;
}

.theme-switch-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
}

.theme-switch-wrapper {
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
  }
em {
    font-family: raleway;
    color: var(--secondary);
    margin-left: 10px;
    font-size: 1rem;
}
  
  .theme-switch {
    margin: 8px;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: rgb(100, 100, 100);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@keyframes move2{
    0% {
        background-position:0% 50%;
    }
    
    50% {
        background-position:100% 50%;
    }

    100% {
        background-position:0% 50%;
    }
}