/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@600&display=swap');

/* -------- */
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	 }
	body {
	background-color: #020202;
}
a {
	color: #bababa;
}
canvas {
  display: block;
  vertical-align: bottom;
}
/* tsparticles container */
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* - - Actual Styling - - */
/* This is all a fucking mess and has no organizational structure.
Which will probably come to bite me in the ass later on. */
nav {
	align-items: center;
	margin: 1vmin;
	font-size: 2vmin;
	display: inline-flex;
	background-image: linear-gradient(#333, #111);
	border-radius: 2vmin;
	opacity: 50%;
	transition-duration: 0.2s;
}
nav:hover{
	font-size: 2.5vmin;
	transition-duration: 0.4s;
	opacity: 100%;
}
.appsbutton {
	transition-duration: 0.2s;
	padding:8px;
}
.apps {
	margin-top: 1vmin;
	transition-duration: 0.2s;
	text-decoration: none;
	font-family: 'karla', sans-serif;
}
.apps:hover {
	transition-duration: 0.2s;
	font-size:3vmin;
	color: #CECECE;
}
#logo {
	padding: 1vmin;
	height: 8vmin;
	border-radius: 16vmax;
	transition-duration: 0.4s;
}
#logo:hover {
	height: 9vmin;
	transition-duration: 0.4s;
}
#container {
	justify-content: center;
	padding-top: 4vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.user {
	background-color: #5e5e5e;
	width: auto;
	height: auto;
	padding: 1vmin;
	margin: 0.5vmax;
	border-radius: 16px;
	opacity:50%;
	transition-duration: 0.5s;
}
.user:hover {
	opacity: 100%;
	transition-duration: 0.2s;
}
.logo {
	border-radius: 16vmax;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 16vmin;
	transition-duration: 0.25s;
}
.logo:hover {
	width:19vmin;
	transition-duration: 0.5s;
}
.quote {
	text-align: center;
	width: 16em;
	font-family: 'Karla', sans-serif;
	color: #FAFAFA;
}
.name {
	color: #fbfbfb;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 3vmin;
	display: block;
}
.r-quote {
	text-align: center;
	font-family: 'Karla', sans-serif;
	color: #FAFAFA;
}
#info {
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 4vmin;
	color: #FEFEFE;
}
#apps-container {
	text-align: center;
	vertical-align: center;
	padding: 32vmin;
	width: auto;
}
#apps-notice {
	color: #CECECE;
	font-family: 'Rubik', sans-serif;
	font-size: 4vmin;
	background-color: #5e5e5e;
	margin: 0.25vmin;
	border-radius: 2vmax;
	padding: 2vmin;
}